@media (min-width: 1700px) {
   #page-home {
      background-position-x: 40vw;
   }
} 

@media (max-width: 1130px) {
   #page-create-point .field-group {
      flex-direction: column;
   }

   #page-create-point .field-group .field + .field {
      margin-left: 0;
   }

   form legend span {
      margin-bottom: 6px;
   }

   .items-grid {
      grid-template-columns: 1fr 1fr;
      gap: 17px;
   }
}

@media (max-width: 900px) {
   #page-home {
      background-position-x: 70vw;
   }

   #page-home .container {
      align-items: center;
      text-align: center;
   }

   #page-home header a {
      left: 50%;
      bottom: 20px;
      position: absolute;
      transform: translateX(-50%);
   }

   #page-home main {
      margin-top: 60px;
      align-items: center;
   }

   #page-search-results .cards {
      grid-template-columns: 1fr;
   }

   #page-search-results .cards img {
      height: 200px;
   }

   .cards .card {
      margin-bottom: 40px;
   }
 
   
}



@media (max-width: 768px) {
   form .form-wraper {
      flex-direction: column;
   } 

   .form-wraper fieldset:nth-of-type(2){
      margin-top: 40px;
   }
}


@media (max-height: 620px) {
   /*#page-home {
      background-position: 30vw 10vh;
   }*/
}


@media (max-width: 580px) {
   #page-home main h1 {
      font-size: 40px;
   }
   
   #page-home main p {
      font-size: 20px;
   }

}